<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
</head>
<body>
<div id="wrapper 2">
<div class="left2">
Log Out <p></p>
The water crisis is a health crisis. Access to safe water and sanitation eans opportunity for improved health and the ability to help fght disease. It means reduced physical injury from constant lifting and carrying heavy loads of water. It means reduced child and amternal mortality rates. And it means reduced risk of rape, sexual assault and increased safety as women and girls do not have to go to remote and dangerous places to relieve themselves. Visit water.org for more details and use this app to drop-ship reuseable 1 gallon water jugs via solar-powered drones.

</div>

<div class="right 2">



</div>

</div>
</body>
</html>